@use "../colors";

.calendar__input-container {
  position: relative;
  width: 20%;
}

.calendar__main-input {
  border: none;
  outline: none;
  border-bottom: 1px solid colors.$general-black;
}

.calendar_wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  width: auto;
  height: auto;
  padding: 15px;
  background: colors.$general-white;
  border: 1px solid colors.$primary-200;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  z-index: 1;

  .calendar-wrapper__buttons-container {
    display: flex;

    .calendar_wrapper__head {
      text-align: center;
      width: 75%;
      color: colors.$primary-dark;
    }

    .year_select {
      outline: none;
      border: hidden;
      -webkit-appearance: none;
    }

    .calendar_wrapper_button {
      width: 30px;
      height: 28px;
      outline: none;
      border: hidden;
      font-size: 20px;
      background: colors.$general-white;
      color: colors.$primary-200;
      border-radius: 6px;
      &:hover {
        background: colors.$primary-200;
        color: colors.$general-white;
      }
    }
  }

  .calendar_wrapper_head_item {
    color: colors.$primary-dark;
    padding: 5px;
  }

  .calendar_wrapper__body {
    background-color: colors.$general-white;

    .calendar_wrapper_body_item {
      width: 34px;
      height: 28px;
      outline: none;
      border: hidden;
      padding: 5px;
      border-radius: 6px;
      text-align: center;
      font-size: 17px;
      background-color: colors.$primary-200;
      color: colors.$general-white;
      transition: 400ms;
      &:hover {
        background-color: colors.$general-white;
        color: colors.$primary-dark;
      }
    }

    .calendar_wrapper_cur_item {
      width: 34px;
      height: 28px;
      outline: none;
      border: hidden;
      padding: 5px;
      background-color: colors.$primary-dark;
      color: colors.$general-white;
      text-align: center;
      font-size: 17px;
    }

    .calendar_wrapper_past_item {
      width: 34px;
      height: 29px;
      outline: none;
      border: hidden;
      padding: 5px;
      background-color: colors.$general-white;
      color: colors.$grey-300;
      text-align: center;
      font-size: 17px;
      &:hover {
        background: colors.$grey-300;
      }
    }
  }
}
