@use "../colors";

.register-with__container {
    text-align: center;

    .register-with__title {
        font-weight: 400;
        margin-top: 20px;
    }
    
    .register-with__link-container {
        margin-top: 20px;
    }
    
    .register-with__link-button {
        width: 33%;
        padding: 15px;
        font-size: 15px;
        border: none;
        transition: 400ms;
        &:hover {
            border-radius: 20px;
        }
    }
    
    .facebook-button {
        background-color: colors.$facebook;
    }
    
    .google-button {
        background-color: colors.$google;
    }
    
    .twitter-button {
        background-color: colors.$twitter;
    }
    
    .register-with__link {
        text-decoration: none;
        color: colors.$general-white
    }
}

