.searching-filters__own-container {
  width: 100%;
  border-bottom: 2px solid #847d7d;
}

.searching-filters__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  padding: 0 0 10px 20px;
  /* border-bottom: 2px solid #847d7d; */
}

.searching-filters__title {
  display: inline-block;
  flex-grow: 1;
}

.searching-filters__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #847d7d;
  flex-grow: 1;
}

.searching-filters__serch-name-button {
  border: none;
  background-color: #ffffff;
  color: #3f51b5;
  margin-right: 10px;
  padding: 10px;
}

.searching-filters__serch-name-button:hover {
  color: #7e90f5;
}

.searching-filters__button {
  width: 10%;
  border: none;
  background-color: #ffffff;
  font-weight: 600;
  color: #847d7d;
  cursor: pointer;
}

.searching-filters__button:hover {
  border-top: 1px solid #ffffff;
}

.searching-filters__inputs {
  display: block;
}
