.calendar_input {
    position: relative;
    width: 20%;
}

.calendar_wrapper {
    position: absolute;
    top: 30px;
    left: 0;
    width: auto;
    height: auto;
    padding: 15px;
    background: white;
    border: 1px solid blue;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}

.calendar_wrapper:hover {
    z-index: 1;
}

.calendar-wrapper__buttons-container {
    width: 100%;
    display: flex;
}

.calendar_wrapper__head {
    text-align: center;
    width: 75%;
}

.calendar_wrapper_head_item {
    padding: 5px;
}

.year_select {
    outline: none;
    border: hidden;
    -webkit-appearance: none;
}

.calendar_wrapper_button {
    width: 30px;
    height: 28px;
    outline: none;
    border: hidden;
    font-size: 20px;
    color: white;
    background: blue;
    border-radius: 6px;
}

.calendar_wrapper_button:hover {
    background: black;
}

.calendar_wrapper__body {
    background-color: aliceblue;
}

.calendar_wrapper_body_item {
    width: 34px;
    height: 28px;
    outline: none;
    border: hidden;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    font-size: 17px;
}

.calendar_wrapper_cur_item {
    width: 34px;
    height: 28px;
    outline: none;
    border: hidden;
    padding: 5px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 17px;
}

.calendar_wrapper_past_item {
    width: 34px;
    height: 29px;
    outline: none;
    border: hidden;
    padding: 5px;
    background-color: white;
    color: grey;
    text-align: center;
    font-size: 17px;
}

.calendar_wrapper_body_item:hover {
    background: grey;
}