@use "./styles/colors";

@import "../src/components/homePage/homePage.scss";
@import "../src/components/gamesCatalog/gamesCatalog.scss";
@import "../src/components/errorPage/errorPage.scss";
@import "../src/components/SingInPage/singInPage.scss";
@import "../src/components/SingInPage/registerWith/registerWith.scss";
@import "../src/components/searchedGameList/searchedGamesList.scss";
@import "../src/components/searchingFilter/filterInputs/filterInputs.scss";
@import "../src/components/calendar/calendar.scss";
@import "../src/components/userGamesPage/userGamesPage.scss";
@import "../src/components/searchingFilter/searchingFilters.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-100 {
  width: 100%;
}

.hidden-el {
  display: none;
}

.hidden_element {
  display: none;
  border: none;
  outline: none;
}

// fonts
.font-regular {
  font-size: 20px;

  @media only screen and (max-width: 1200px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 15px;
  }
}

.font-secondary {
  font-size: 16px;

  @media only screen and (max-width: 1200px) {
    font-size: 15px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.app-nav__link-container {
  width: 90%;
  margin: 0 auto 0;
  padding: 35px;
  background-color: colors.$primary-dark;
  display: flex;
  justify-content: space-around;

  .app-nav__link {
    text-decoration: none;
    color: colors.$general-white;
    &:hover {
      color: colors.$primary;
    }
  }
}

