@use "@/styles/colors";

// pages
@import "@/pages/HomePage/homePage.scss";
@import "@/pages/errorPage/errorPage.scss";
@import "@/pages/SingInPage/singInPage.scss";
@import "@/pages/userGamesPage/userGamesPage.scss";
@import "@/pages/gamesCatalogPage/gamesCatalogPage.scss";

// components
@import "@/components/GamesCatalogScreen/gamesCatalogScreen.scss";
@import "@/components/SearchedGameList/searchedGamesList.scss";
@import "@/components/RegisterWith/registerWith.scss";
@import "@/components/FilterInputs/filterInputs.scss";
@import "@/components/Calendar/calendar.scss";
@import "@/components/SearchingFilter/searchingFilters.scss";
@import "@/components/SwichButtons/swichButtons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-100 {
  width: 100%;
}

.hidden-el {
  display: none;
}

.hidden_element {
  display: none;
  border: none;
  outline: none;
}

// fonts
.font-regular {
  font-size: 20px;

  @media only screen and (max-width: 1200px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 15px;
  }
}

.font-secondary {
  font-size: 16px;

  @media only screen and (max-width: 1200px) {
    font-size: 15px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.app-nav__link-container {
  width: 90%;
  margin: 0 auto 0;
  padding: 35px;
  background-color: colors.$main-nav-link-container;
  display: flex;
  justify-content: space-around;

  .app-nav__link {
    text-decoration: none;
    color: colors.$main-nav-link;
    &:hover {
      color: colors.$main-nav-link-hover;
    }
  }
}

